.container {
    margin-top: -120px;

    @media screen and (min-width: 740px) and (max-width: 1023px) {
        margin-top: 0px;
    }

    @media screen and (max-width: 739px) {
        margin-top: 50px;
    }
}
