.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-header-color);
    transition: all 0.5s ease-in-out;
    z-index: 99;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        width: 110px;
        height: 100%;
    }
}

.mobile-logo {
    display: none;
    align-items: flex-start;
    cursor: pointer;

    img {
        width: 22px;
        height: 100%;
    }
}

.search {
    height: 50%;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-out;
    margin-left: 20px;
    position: relative;

    &:hover .icon-search {
        color: var(--white-color);
    }

    .icon-search {
        color: rgba(245, 245, 245, 0.7);
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        transition: all 0.4s;
    }

    input {
        width: 0;
        height: 100%;
        padding-right: 10px;
        padding-left: 35px;
        font-size: 1.4rem;
        color: var(--white-color);
        opacity: 0;
        transition: all 0.5s ease-out;
        border-bottom: 1px solid rgba(245, 245, 245, 0.3);
        cursor: pointer;

        &:focus {
            width: 300px;
            opacity: 1;
            cursor: text;
            border-bottom: 1px solid rgba(245, 245, 245, 0.3);
        }
    }
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.list {
    height: 100%;
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    position: relative;

    &:hover .sub-menu {
        animation: fadeIn 0.5s;
        display: flex;
    }

    + .item {
        margin-left: 25px;
    }

    .link {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--white-color);
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
            color: var(--primary-color);
        }
    }

    .sub-menu {
        position: absolute;
        top: 170%;
        left: -120px;
        min-width: 350px;
        background-color: rgba(15, 15, 15, 0.8);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        align-items: center;
        justify-content: space-between;
        padding: 8px 50px;
        color: rgba(245, 245, 245, 0.5);
        display: none;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 110px;
            width: 150px;
            height: 20px;
        }
    }

    .sub-menu-item {
        padding: 8px 0;
    }

    .sub-menu-link {
        font-weight: 400;
        color: var(--white-color);
        transition: var(--transition-default);

        &:hover {
            color: #f40612;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1023px) {
    .wrapper {
        height: 56px;
    }

    .search {
        margin-left: 10px;
    }
}

@media screen and (max-width: 739px) {
    .navigation {
        padding: 0 12px;
    }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
    }

    .search {
        input {
            height: 100%;
            font-size: 1.2rem;

            &:focus {
                width: 200px;
            }
        }

        .icon-search {
            font-size: 1.3rem;
        }
    }
}
