@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --bg-header-color: #000;
    --background-color: #151515;
    --black-color: #1e1e1e;
    --white-color: #fafafa;
    --text-color: #999;

    --primary-color: #e00712;
    --green-color: #00e600;
    --yellow-color: #ffd700;
    --transition-default: all 0.3s ease-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--background-color);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    scroll-behavior: smooth;
}

button,
input {
    outline: none;
    border: none;
    background-color: transparent;
}

a[href],
ul {
    list-style: none;
    text-decoration: none;
}
